
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    <main>
    <div class="global-wrapper">
        <div class="main-container two-columns-style-2">
            <div>
                <div class="account-navigation-column">
                    <h3>Admin Panel</h3>
                    <ul class="account-nav-ul">
                        <li class="account-main-nav">
                            <a href="javascript:void(0)" onclick="renderUserManager()">User Management</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="account-main-area">
                <h4>Site Metrics</h4>
                <p><b>Flags: </b><%=email %></p>
                <p><b>Users: </b><%=title %></p>
                <p><b>New Posts: </b><%=title %></p>
                <p><b>Something: </b><%=title %></p>
            </div> 
            <div></div>
            <table>
                <div>
                    <table  id="memberlist">

                    </table>
                </div>
            </table>


                    
                </table>
            </div>
        </div>
    </div>
    </main>

<%- include('./partials/footer'); %>