
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    <main>
    <div class="global-wrapper">
        <div class="main-container two-columns-style-2">
            <div>
                <div class="account-navigation-column">
                <ul class="account-nav-ul">
                    <li class="account-main-nav">
                        <!-- <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> --> <a href="javascript:void(0)" id="account_overview">Account Overview</a> 
                                          </li>
                    <li class="account-main-nav">
  <!-- <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> --> <a href="javascript:void(0)" id="post_write">Write a Post</a> 
                    </li>
                    <li class="account-main-nav">
  <!-- <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> --> <a href="javascript:void(0)" id="my_posts">My Posts</a> 
                    </li>

                    </ul>
                </div>
            </div>
            <!-- SECOND COLUMN -->
            <div class="account-main-area">
                <!-- MAIN SECTION -->
                <div class="account-overview">
                <h4>Your Information</h4>
                <p><b>Account Id: </b><%=email %></p>
                <p><b>Account Email: </b><%=email %></p>
                <p><b>Account Title: </b><%=title %></p>
                <p><b>Username: </b><%=email %></p>
                <p><b>First Name: </b><%=title %></p>
                <p><b>Lastname: </b><%=email %></p>
                <p><b>Lastname: </b><%=email %></p>

            </div>

                <!-- BLOG POST -->
                <div class="account-write-post">
                    <form action="" method="POST" class="user-post-form" name="userPost" id="user-post">
                    <input type="text" name="title" placeholder="Post Title" id="title">

                    
                    <div class="post-input-area" id="post-body" contenteditable>
                    </div>

                    <input type="radio" id="privacy-level-3" name="privacy_level" value="3">
                    <label for="privacy-level-3" >Private</label><br>

                    <input type="radio" id="privacy-level-2" name="privacy_level" value="2">
                    <label for="privacy-level-2">Friends Only</label><br>

                    <input type="radio" id="privacy-level-1" name="privacy_level" value="1">
                    <label for="privacy-level-1">Public</label><br>

                    <span class="note">Posts marked for "Everyone" are subject to our terms of services. Please read our Terms of Service for more information. </span>
                    <button type="submit" class="btn-style-1" id="submit-post" >Submit Post</button>
                    </form>
                </div>
                    <!-- MY POSTS -->
                    <div class="account-posts">
                    <div id="my_blog_posts">
                </div>
            </div>
        </div>  
    </main>

<%- include('./partials/footer'); %>